.NavBarHair-main {
  background-color: var(--black);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
  width: 39vw;
  color: var(--gray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;

  h1 {
    text-align: center;
    margin-top: 3rem;
  }
  h3 {
    font-family: var(--font-title);
    font-size: 15px;
    color: var(--gray-600);
    width: 100%;
    text-align: start;
    margin-top: 40px;
  }
  .NavBarHair-menu {
    margin-top: 15px;
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-title);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    &.active {
      color: var(--white);
      border: none;
      background-color: var(--gold-dark);
      border-radius: var(--radius-md);
      padding: 0.5rem 0.75rem;
    }
  }
}

.NavBarHair-main.open {
  transform: translateX(0);
}

.button_Nav {
  background-color: var(--gray-50);
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--gold-dark);
  justify-content: center;
  padding: 5px;
  display: flex;
  border-radius: 50%;
}
