.search_bar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #e8e8e4;
  padding: 10px 18px;
  justify-content: left;
  width: 320px;
}

.searchbar_icon {
  color: var(--gray-900);
  font-size: 18px;
}

.searchbar_input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #333333;
  width: 100%;
}

.searchbar_input::placeholder {
  color: var(--gray-600);
}
