.barber-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;

  border-bottom: 1px solid var(--gray-300);
}

.barber-card__image {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
}

.barber-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.barber-card__info {
  flex: 1;
  min-width: 0;
}

.barber-card__title {
  font-size: 18px;
  font-family: var(--font-title);

  color: var(--black);
  margin-bottom: 8px;
}

.barber-card__description {
  display: -webkit-box;
  margin: 0 0 6px;
  overflow: hidden;
  color: var(--gray-600);
  font-size: 14px;
  font-family: var(--font-body);
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.barber-card__location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;

  color: var(--black);
}
.barber-card__location span {
  color: var(--gray-600);
  font-family: var(--font-body);
}

.barber-card__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  flex-shrink: 0;
}

.barber-card__distance {
  font-size: 14px;
  font-family: var(--font-body);
  color: var(--gray-600);
}

.barber-card__arrow {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: var(--gold);
}

.barber-card__profile-button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border: none;
  background: transparent;
  font-family: var(--font-body);
  padding: 0;
  cursor: pointer;
}
.barber-card__profile-button span {
  line-height: 1;
}
.barber-card__profile-button:hover .barber-card__arrow {
  color: var(--black);
}
